.socialButton
  .socialButton__facebook.js-facebookButton
  .socialButton__twitter.
    <a class="link-block" href="http://twitter.com/intent/tweet?text=#{encode_twitter_description}&amp;hashtags=#{encode_hashtag}&amp;url=#{encode_url}" target="_blank"></a>
  .socialButton__line.
    <a class="link-block" href="//line.me/R/msg/text/?#{encode_description}"></a>



//- デフォルト
//- ul.socialButton
//-   li.btn-facebook.btn-social.
//-     <div class="fb-like" data-href="#{url}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
//-   li.btn-twitter.btn-social.
//-     <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true">Tweet</a>
//-   li.btn-line.btn-social.
//-     <span>
//-       <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411" ></script>
//-       <script type="text/javascript">
//-         new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a","text":"#{encode_description}","withUrl":true});
//-       </script>
//-     </span>
//-   li.btn-googlePlus.btn-social.
//-     <div class="g-plusone" data-size="medium" data-annotation="bubble" data-href="#{url}"></div>
//-   li.btn-hatebu.btn-social.
//-     <a href="http://b.hatena.ne.jp/entry/#{url}" class="hatena-bookmark-button" data-hatena-bookmark-title="#{site_name}" data-hatena-bookmark-layout="simple-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
